In [1]:
import pandas as pd

In [2]:
titanic = pd.read_csv('http://biostat.mc.vanderbilt.edu/wiki/pub/Main/DataSets/titanic.txt')

In [3]:
titanic.head()

,row.names,pclass,survived,name,age,embarked,home.dest,room,ticket,boat,sex
0,1,1st,1,"Allen, Miss Elisabeth Walton",29.0000,Southampton,"St Louis, MO",B-5,24160 L221,2,female
1,2,1st,0,"Allison, Miss Helen Loraine",2.0000,Southampton,"Montreal, PQ / Chesterville, ON",C26,NaN,NaN,female
2,3,1st,0,"Allison, Mr Hudson Joshua Creighton",30.0000,Southampton,"Montreal, PQ / Chesterville, ON",C26,NaN,(135),male
3,4,1st,0,"Allison, Mrs Hudson J.C. (Bessie Waldo Daniels)",25.0000,Southampton,"Montreal, PQ / Chesterville, ON",C26,NaN,NaN,female
4,5,1st,1,"Allison, Master Hudson Trevor",0.9167,Southampton,"Montreal, PQ / Chesterville, ON",C22,NaN,11,male

In [4]:
titanic.describe()

         row.names     survived         age
count  1313.000000  1313.000000  633.000000
mean    657.000000     0.341965   31.194181
std     379.174762     0.474549   14.747525
min       1.000000     0.000000    0.166700
25%     329.000000     0.000000   21.000000
50%     657.000000     0.000000   30.000000
75%     985.000000     1.000000   41.000000
max    1313.000000     1.000000   71.000000

In [5]:
titanic.tail()

,row.names,pclass,survived,name,age,embarked,home.dest,room,ticket,boat,sex
1308,1309,3rd,0,"Zakarian, Mr Artun",NaN,NaN,NaN,NaN,NaN,NaN,male
1309,1310,3rd,0,"Zakarian, Mr Maprieder",NaN,NaN,NaN,NaN,NaN,NaN,male
1310,1311,3rd,0,"Zenn, Mr Philip",NaN,NaN,NaN,NaN,NaN,NaN,male
1311,1312,3rd,0,"Zievens, Rene",NaN,NaN,NaN,NaN,NaN,NaN,female
1312,1313,3rd,0,"Zimmerman, Leo",NaN,NaN,NaN,NaN,NaN,NaN,male

In [7]:
X = titanic[['pclass', 'age', 'sex']]

In [8]:
y = titanic['survived']

In [9]:
X['age'].fillna(X['age'].mean(), inplace = True)

C:\Users\91202\Anaconda3\lib\site-packages\pandas\core\generic.py:3295: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [11]:
X['age'].describe()

count    1313.000000
mean       31.194181
std        10.235540
min         0.166700
25%        30.000000
50%        31.194181
75%        31.194181
max        71.000000
Name: age, dtype: float64

In [13]:
X.shape

(1313, 3)

In [14]:
y.shape

(1313,)

In [17]:
from sklearn.cross_validation import train_test_split

C:\Users\91202\Anaconda3\lib\site-packages\sklearn\cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [20]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 66)

In [21]:
from sklearn.feature_extraction import DictVectorizer

In [22]:
vec = DictVectorizer(sparse=False)

In [23]:
X_train.head()

     pclass        age     sex
162     1st  55.000000  female
275     1st  21.000000    male
840     3rd  31.194181  female
1222    3rd  31.194181    male
45      1st  31.194181    male

In [24]:
X_train = vec.fit_transform(X_train.to_dict(orient='record'))

In [25]:
X_test = vec.transform(X_test.to_dict(orient='record'))

In [30]:
X_train[0]

array([ 55.,   1.,   0.,   0.,   1.,   0.])

In [31]:
X_train[1]

array([ 21.,   1.,   0.,   0.,   0.,   1.])

In [32]:
X_train[2]

array([ 31.19418104,   0.        ,   0.        ,   1.        ,
         1.        ,   0.        ])

In [33]:
X_test[0]

array([ 35.,   0.,   1.,   0.,   0.,   1.])

In [34]:
from sklearn.ensemble import RandomForestClassifier

In [35]:
rfc = RandomForestClassifier()

In [36]:
rfc.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators=10, n_jobs=1, oob_score=False, random_state=None,
            verbose=0, warm_start=False)

In [37]:
print('the accuracy  of rfc on testing set is :', rfc.score(X_test, y_test))

the accuracy  of rfc on testing set is : 0.784194528875

In [39]:
from xgboost import XGBClassifier

In [40]:
xgbc = XGBClassifier()

In [41]:
xgbc.fit(X_train, y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
       n_jobs=1, nthread=None, objective='binary:logistic', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

In [42]:
print('the accuracy of xgbc on testing set is :', xgbc.score(X_test, y_test))

the accuracy of xgbc on testing set is : 0.793313069909